In [1]:
#! pip install openpyxl
import requests 
import bs4
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
headers = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/53'}
url ='https://www.mahindrafirstchoice.com/used-cars/delhi'
r = requests.get(url, headers=headers)

In [3]:
soup = BeautifulSoup(r.text, 'html.parser')

In [4]:
cars = soup.find_all('div', class_='col-md-4 float-left col-12 general-car')
car_specs = []
for car in cars:
  
    company = car.find('h3',{'class' : 'buyer_make'}).text #company name
    
    model_name = car.find('a',{'class':'lnkstockdetail'})['title']
    
    location = car.find('span',class_='buyer_locations icon_set stock_location b').text.replace(' ','') #location variable of vehicle
    
    kilometers_driven = car.find('span', class_='overview_name').text.replace(' ','')
    
    price = car.find('span',class_='car_price').text.replace(' ','')
    
    owner_type = car.find('ul',class_='spec-info-list').text
      
   # print(f"Company Name And Year Of Car :{company}")
   # print(f"Model Name:{model_name.strip()}")
    #print(f"Location of car :{location.strip()}")
   # print(f"Price of car : {price.strip()}")
    #print(f"Kilometers used, Fuel Type, Car Type And Type Of Owner: {owner_type.strip()}")
    
   # print(" ")
    car_spec={
        'Company Name And Year Of Car':company,
        'Model name':model_name,
        'Location of car':location,
        'Price of car':price,
        'Kilometers used, Fuel Type, Car Type And Type Of Owner':owner_type
    }
     
    car_specs.append(car_spec)
        
        
df=pd.DataFrame(car_specs)
print(df)

   Company Name And Year Of Car                     Model name  \
0            2016 Maruti Suzuki                 Ritz LXI BS IV
1            2014 Maruti Suzuki                    Wagon R LXI
2                  2013 Hyundai                  I10 MAGNA 1.2
3                  2013 Hyundai                  I10 MAGNA 1.2
4                  2012 Hyundai                  I10 MAGNA 1.2
5                  2013 Renault        Duster 85 PS RXE DIESEL
6                 2014 Mahindra                      Quanto C8
7                  2013 Renault      Duster RXL PLUS DIESEL 85
8                   2014 Nissan                   Terrano XL D
9                  2013 Renault              Duster 110 PS RXZ
10                   2014 Honda              City SV MT PETROL
11           2018 Maruti Suzuki                 Alto 800 LXI O
12                 2011 Hyundai          I10 SPORTZ 1.2 KAPPA2
13                 2011 Hyundai          I10 SPORTZ 1.2 KAPPA2
14                 2019 Hyundai  Venue SX 1.0 DUAL TONE PETROL

   Location of car Price of car  \
0            Delhi       3Lakhs
1        Ghaziabad       3Lakhs
2            Noida       3Lakhs
3            Noida       3Lakhs
4        Ghaziabad       3Lakhs
5            Delhi    3.25Lakhs
6          Gurgaon     3.5Lakhs
7          Gurgaon    4.25Lakhs
8            Delhi     4.5Lakhs
9            Delhi     4.5Lakhs
10           Noida    5.75Lakhs
11       Faridabad            1
12           Delhi     2.7Lakhs
13       Ghaziabad     2.7Lakhs
14           Delhi   10.85Lakhs

   Kilometers used, Fuel Type, Car Type And Type Of Owner
0   \n\n\n90,000 Kms\n\n\n\n\r\n\r\nPetrol        ...
1   \n\n\n47,951 Kms\n\n\n\n\r\n\r\nPetrol        ...
2   \n\n\n33,375 Kms\n\n\n\n\r\n\r\nPetrol        ...
3   \n\n\n33,375 Kms\n\n\n\n\r\n\r\nPetrol        ...
4   \n\n\n44,000 Kms\n\n\n\n\r\n\r\nPetrol        ...
5   \n\n\n93,000 Kms\n\n\n\n\r\n\r\nDiesel        ...
6   \n\n\n76,949 Kms\n\n\n\n\r\n\r\nDiesel        ...
7   \n\n\n90,923 Kms\n\n\n\n\r\n\r\nDiesel        ...
8   \n\n\n67,841 Kms\n\n\n\n\r\n\r\nDiesel        ...
9   \n\n\n80,000 Kms\n\n\n\n\r\n\r\nDiesel        ...
10  \n\n\n34,000 Kms\n\n\n\n\r\n\r\nPetrol        ...
11  \n\n\n24,260 Kms\n\n\n\n\r\n\r\nPetrol        ...
12  \n\n\n41,500 Kms\n\n\n\n\r\n\r\nPetrol        ...
13  \n\n\n41,500 Kms\n\n\n\n\r\n\r\nPetrol        ...
14  \n\n\n15,300 Kms\n\n\n\n\r\n\r\nPetrol        ...

In [5]:
df.to_excel('CAR specifications.xlsx',index=False)
print('fin.')

fin.